
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100vw;
        height: 100vh;
        box-sizing:border-box;
        display: flex;
    }
    .card1{
        width: 200px;
        height: 300px;
        background-color:powderblue;
        margin: 10px 0 0 10px;
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
    } 
.card1:hover{
transform: scale(1.25);
transition: 0.4s ease-in-out;
opacity: 0.4;
}
.card1:active{
    opacity: 0.4;
    transform: scale(0.75);
    transition: 0.4s ease-in-out;
}

    .card-image{
        width:200px;
        height:200px;
    background-image: url(asset/image/eiffel\ tower.jpeg);
    background-size:cover;
    background-position:center;
    }
    .text-content{
        width: 200px;
        height: 100px;
        box-sizing: border-box;
    }
    p,h3{ 
        width: 180px;
        height: 8px;
        margin-top:10px;
    margin-left: 10px;
    }
    .add-button{
        width: 90px;
        height: 30px;
        color: white;
        margin-left:10px ;
        background-color: rgb(9, 79, 229);
        border-width: 0px;
    }
    /*card 2*/
    .card2{
        width: 200px;
        height: 300px;
        background-color:powderblue;
        margin: 10px 0 0 10px;
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
    } 
.card2:hover{
transform: scale(1.20);
transition: 0.4s ease-in-out;
opacity: 0.5;
}
.card2:active{
    opacity: 0.5;
    transform: scale(0.75);
    transition: 0.4s ease-in-out;
}

    .card-image2{
        width:200px;
        height:200px;
    background-image: url(asset/image/berlin\ arch.jpeg);
    background-size:cover;
    background-position:center;
    }
    .text-content{
        width: 200px;
        height: 100px;
        box-sizing: border-box;
    }
    p,h3{ 
        width: 180px;
        height: 8px;
        margin-top:10px;
    margin-left: 10px;
    }
    .add-button{
        width: 90px;
        height: 30px;
        color: white;
        margin-left:10px ;
        background-color: rgb(9, 79, 229);
        border-width: 0px;
    }
    /*card 3*/
    .card3{
        width: 200px;
        height: 300px;
        background-color:powderblue;
        margin: 10px 0 0 10px;
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
    } 
.card3:hover{
transform: scale(1.15);
transition: 0.4s ease-in-out;
opacity: 0.5;
}
.card3:active{
    opacity: 0.5;
    transform: scale(0.75);
    transition: 0.4s ease-in-out;
}

    .card-image3{
        width:200px;
        height:200px;
    background-image: url(asset/image/big\ ben.jpeg);
    background-size:cover;
    background-position:center;
    }
    .text-content{
        width: 200px;
        height: 100px;
        box-sizing: border-box;
    }
    p,h3{ 
        width: 180px;
        height: 8px;
        margin-top:10px;
    margin-left: 10px;
    }
    .add-button{
        width: 90px;
        height: 30px;
        color: white;
        margin-left:10px ;
        background-color: rgb(9, 79, 229);
        border-width: 0px;
    }
    /*card 4*/
    .card4{
        width: 200px;
        height: 300px;
        background-color:powderblue;
        margin: 10px 0 0 10px;
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
    } 
.card4:hover{
transform: scale(1.10);
transition: 0.4s ease-in-out;
opacity: 0.6;
}
.card4:active{
    opacity: 0.6;
    transform: scale(0.75);
    transition: 0.4s ease-in-out;
}
    .card-image4{
        width:200px;
        height:200px;
    background-image: url(asset/image/sydney\ opera\ night.jpeg);
    background-size:cover;
    background-position:center;
    }
    .text-content{
        width: 200px;
        height: 100px;
        box-sizing: border-box;
    }
    p,h3{ 
        width: 180px;
        height: 8px;
        margin-top:10px;
    margin-left: 10px;
    }
    .add-button{
        width: 90px;
        height: 30px;
        color: white;
        margin-left:10px ;
        background-color: rgb(9, 79, 229);
        border-width: 0px;
    }

    .card5{
        width: 200px;
        height: 300px;
        background-color:powderblue;
        margin: 10px 0 0 10px;
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
        cursor: grab;
    } 
.card5:hover{
transform: scale(1.10);
transition: 0.4s ease-in-out;
opacity: 0.7;
}
.card5:active{
opacity: 0.7;
transform: scale(0.75);
transition: 0.4s ease-in-out;

}
    .card-image5{
        width:200px;
        height:200px;
    background-image: url(asset/image/sydney\ opera.jpeg);
    background-size:cover;
    background-position:center;
    }
    .text-content5{
        width: 200px;
        height: 100px;
        box-sizing: border-box;
        background: linear-gradient(45deg, rgb(192, 91, 91), rgb(109, 180, 234));
   margin-top: -10px;
    }
    p,h3{ 
        width: 180px;
        height: 8px;
        margin-top:10px;
    margin-left: 10px;
    }
    .add-button{
        width: 90px;
        height: 30px;
        color: white;
        margin-left:10px ;
        background-color: rgb(9, 79, 229);
        border-width: 0px;
    }